.hero {
  position: relative;
  padding: 17vh;
}

.hero-tag-line {
  position: absolute;
  left: 55%;
  top: 25%;
}
.hero-text {
  padding-top: 1rem;
  max-width: fit-content;
}

.hero-gradient {
  height: 50vh;
  position: absolute;
  inset: 0;
  background: linear-gradient(218deg, #58a8ff, #7bfeb1, #efc069, #e567a0);
  background-size: 200% 200%;
  clip-path: polygon(0 0, 100% 0, 100% 43%, 0 69%);

  animation: AnimationName 4s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 19%;
  }
  50% {
    background-position: 100% 82%;
  }
  100% {
    background-position: 0% 19%;
  }
}
