.hero-gradient {
  height: 40vh;
  background: linear-gradient(270deg, #2c0e6f, #297286, #47b410, #10b4b2);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 20s ease infinite;
  clip-path: polygon(0 0, 100% 0, 100% 43%, 0 69%);
}

.hero-tag-line {
  mix-blend-mode: multiply;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 19%;
  }
  50% {
    background-position: 100% 82%;
  }
  100% {
    background-position: 0% 19%;
  }
}
